@import 'fonts';
@import 'reset';
@import 'animation';

@import 'components/button';
@import 'components/gradient';

.container {
    display: flex;

    main {
        width: calc(30vw - 6rem);
        height: 100vh;
        margin: 0rem 1rem;
        padding: 3rem;
        overflow: scroll;
        scroll-snap-type: both mandatory;
        &::-webkit-scrollbar { 
            display: none; 
        }
        .column {
            display: flex;
            flex-direction: column;
            padding: 0 0 2rem 0;
            label {
                text-transform: uppercase;
                font-size: .8rem;
                padding: 1rem 0;
                margin: 0 1rem 0 0;
                font-weight: bold;
            }
        }
        header,section,footer {
            padding: 1.5rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            scroll-snap-align: start;
        }
        header {
            &:after {
                animation: bounce 2s infinite;
                position: relative;
                
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: '\f063';
                bottom: 0;
                left: 0;
    
                width: 50px;
                color: #000;
                text-align: center;
                line-height: 50px;
                
                @keyframes bounce {
                    0%, 20%, 50%, 80%, 100%         { transform: translateY(0);     }
                    40%                             { transform: translateY(-10px); }
                    60%                             { transform: translateY(-10px); }
                }
                
            }
        }
    }
    aside {
        width: calc(70vw);
        height: calc(100vh - 6rem);
        margin: 3rem 1;
        background: #ffffff;
        border-radius: 1rem;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
        padding: 3rem;
        display: flex;
        overflow: scroll;
        div.item {
            height: 100px;
            width: 100px;
            border-radius: 1rem;
            margin: 1rem .5rem;
            background: #ffb61c;
            color: rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
            text-align: center;
            line-height: 100px;
            font-size: 2rem;
        }
    }
}